.module-button-b {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#btn-b {
    padding: 10px 20px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
