.glass-element {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 600px;
    background: rgba(37, 54, 70, 0.26);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(37, 54, 70, 0.62);
    transform: translate(-50%, -50%);
}

.glass-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #add8e6;
    font-family: 'Poppins', sans-serif;
}

.glass-title {
    font-size: 3em;
    font-weight: 300;
}

.glass-subtitle {
    font-size: 1.5em;
    font-weight: 300;
}
